@model IEnumerable<CasaDoCodigoMVC.Models.Fabricante>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Cadastrar novo fabricante</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FabricanteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FabricanteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {id = item.FabricanteId}) |
                @Html.ActionLink("Detalhes", "Details",  new {id = item.FabricanteId}) |
                @Html.ActionLink("Deletar", "Delete",  new {id = item.FabricanteId})
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
